<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8WKxuUh5MObjjTGgmDHIpbuR8haNXoP4</string>
	<key>GCM_SENDER_ID</key>
	<string>858477536110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MahmoudSaeed.SM</string>
	<key>PROJECT_ID</key>
	<string>sm-feed-58655</string>
	<key>STORAGE_BUCKET</key>
	<string>sm-feed-58655.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:858477536110:ios:b52e04008912a4bc7e577f</string>
</dict>
</plist>
